#name{
    background-color: teal;
    color: whitesmoke;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: gray;
    line-break: auto;
    clear: auto;
    font-size: 50px;
    
.body{

}
   


}
#navbar{
    float:right;
font-size: 25px;
}

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: #cccccc;
    display: block;
    float: right;
    text-align: center;

}
.intro{
    background: white;
    border: solid;
    float:left;

}    

}
.clearfix::after{
    content:"";
    clear: both;
    display: table;
}

table{
    float:right;

}
body{

    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    overflow: hidden;
}
.About-Me{
   font-size: 25px;
    float: left;

}}
#me{
    float: left;
    clear: auto;
}
section{
  float: right;
}